fonts-dir = '../font'

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-bold-600-italic-webfont.eot')
    src url(fonts-dir + '/rleud-bold-600-italic-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-bold-600-italic-webfont.woff') format('woff'), url(fonts-dir + '/rleud-bold-600-italic-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-bold-600-italic-webfont.svg#rleud-bolduploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-bold-600-webfont.eot')
    src url(fonts-dir + '/rleud-bold-600-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-bold-600-webfont.woff') format('woff'), url(fonts-dir + '/rleud-bold-600-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-bold-600-webfont.svg#rleud-bolduploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-light-200-italic-webfont.eot')
    src url(fonts-dir + '/rleud-light-200-italic-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-light-200-italic-webfont.woff') format('woff'), url(fonts-dir + '/rleud-light-200-italic-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-light-200-italic-webfont.svg#rleud-lightuploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-light-200-webfont.eot')
    src url(fonts-dir + '/rleud-light-200-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-light-200-webfont.woff') format('woff'), url(fonts-dir + '/rleud-light-200-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-light-200-webfont.svg#rleud-lightuploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-normal-200-italic-webfont.eot')
    src url(fonts-dir + '/rleud-normal-200-italic-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-normal-200-italic-webfont.woff') format('woff'), url(fonts-dir + '/rleud-normal-200-italic-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-normal-200-italic-webfont.svg#rleud-italicuploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-normal-200-webfont.eot')
    src url(fonts-dir + '/rleud-normal-200-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-normal-200-webfont.woff') format('woff'), url(fonts-dir + '/rleud-normal-200-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-normal-200-webfont.svg#rleud-demiuploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-thin-100-italic-webfont.eot')
    src url(fonts-dir + '/rleud-thin-100-italic-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-thin-100-italic-webfont.woff') format('woff'), url(fonts-dir + '/rleud-thin-100-italic-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-thin-100-italic-webfont.svg#rleud-thinitalicuploaded_file') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'rleud'
    src url(fonts-dir + '/rleud-thin-100-webfont.eot')
    src url(fonts-dir + '/rleud-thin-100-webfont.eot?#iefix') format('embedded-opentype'), url(fonts-dir + '/rleud-thin-100-webfont.woff') format('woff'), url(fonts-dir + '/rleud-thin-100-webfont.ttf') format('truetype'), url(fonts-dir + '/rleud-thin-100-webfont.svg#rleud-thinuploaded_file') format('svg')
    font-weight normal
    font-style normal