.button, button, input[type='submit']
    padding 13px 40px
    box-sizing border-box
    background color-green
    border 0
    font-family type-base-face
    type-size 1.5
    color #fff
    border-radius()
    margin-bottom 20px
    font-weight bold

    &:last-child, &.no-space
        margin-bottom 0

    &:active, &:focus
        outline none

    &.block
        width 100%
        text-align center